.fontpicker,
.fontpicker * {
  box-sizing: border-box;
}
.fontpicker {
  border: 1px solid;
  display: block;
  position: relative;
  background: #fff!important;
  color: #000!important;
}

.fontpicker__search {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  padding: 0 10px;
  cursor: pointer;
  font-size: 16px;
  background-color: #fff!important;
  color: #000!important;
}
.fontpicker__search:focus {
  cursor: text;
  opacity: 1;
}
.fontpicker__popout {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  border: 1px solid;
  max-height: calc(12em + 1px);
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 2;
  background: #f5f5f5!important;
  opacity: 0;
  transform: scaleY(0.001);
}
.fontpicker__popout.fontpicker__active {
  opacity: 1;
  transform: scale(1);
}
.fontpicker__option.selected {
  background: #fff!important;
}
.fontpicker__nomatches {
  height: 2em;
  line-height: 2em;
  background: #fff!important;
  text-align: center;
  color: #000!important;
}
